@use '../foundation/settings/variable' as *;
@use '../foundation/settings/mixin' as *;
// トップに戻るボタン
.top_button {
position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 1000;
}

.top_button.show {
  opacity: 1;
  pointer-events: auto;
}
// スクロールバー(トップのみ）
.scroll_bar {
  position: absolute;
  top: 825px;
  right: 80px;
  width: 1px;
  height: 152px;
  background: var(--colorBlack);
  border-radius: 2px;
  overflow: hidden;
  z-index: 1000;

  &::before {
    content: '';
    position: absolute;
    top: -50px; 
    left: 0;
    width: 100%;
    height: 50px; 
    background: var(--colorlightgreen);
    border-radius: 1px;
    animation: flow 2s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  }
}
@include media(768px) {
  .scroll_bar {
    top: 686px; 
    right: 40px;
    height: 76px; 

    &::before {
      top: -25px; 
      height: 25px; 
      animation: flow-sp 2s cubic-bezier(0.65, 0, 0.35, 1) infinite;
    }
  }
}

@keyframes flow {
  0% {
    transform: translateY(0); 
  }
  100% {
    transform: translateY(200px);
  }
}
@keyframes flow-sp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px); 
  }
}