@use '../foundation/settings/variable' as *;
@use '../foundation/settings/mixin' as *;
// トップボタン
.top_button {
position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease;
  z-index: 1000;
  @include media (768px) {
    width: calc(109px / 1.5);
    height: calc(98px / 1.5);
    right: 0;
}}

.top_button.show {
  opacity: 1;
  pointer-events: auto;
}
// スクロールバー(トップのみ）
.scroll_bar {
  position: absolute;
  top: 825px;
  right: 80px;
  width: 1px;
  height: 152px;
  background: var(--colorBlack);
  border-radius: 2px;
  overflow: hidden;
  z-index: 100;

  &::before {
    content: '';
    position: absolute;
    top: -50px; 
    left: 0;
    width: 100%;
    height: 50px; 
    background: var(--colorlightgreen);
    border-radius: 1px;
    animation: flow 2s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  }
}
@include media(768px) {
  .scroll_bar {
    top: 686px; 
    right: 40px;
    height: 76px; 

    &::before {
      top: -25px; 
      height: 25px; 
      animation: flow-sp 2s cubic-bezier(0.65, 0, 0.35, 1) infinite;
    }
  }
}

@keyframes flow {
  0% {
    transform: translateY(0); 
  }
  100% {
    transform: translateY(200px);
  }
}
@keyframes flow-sp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px); 
  }
}

// 共通h2タイトル
.title {
  writing-mode: vertical-rl; 
  position: absolute;
  color: var(--colorKey);
  left: -12px;
  font-size: 80px; 
  font-weight: 300;
  z-index: 10;

  @include media(768px) {
    font-size: 40px; 
    left: -6px;
  }
}
// 共通h2横タイトル
.title_flat{
  position: static;
  color: var(--colorKey);
  font-size: 80px;
  font-weight: 300;
  z-index: 10;
   @include media(768px) {
    font-size: 40px; 
  }
}

.title_flat02{
  position: static;
  color: var(--colorKey);
  font-size: 80px;
  font-weight: 300;
  z-index: 10;
   @include media(768px) {
    font-size: 40px; 
    display: flex;
    justify-content: center;
  }
}
// コンタクトページ
.contact_inner {
  .contact_item {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    align-items: flex-end;
    .contact_main {
      flex: 1 1 50%;
    }

    .contact_text {
      p {
      margin: 10px 0;
  &:nth-child(1),
  &:nth-child(2){
    font-size: 16px;
    line-height: 1.7;
  }
  &:nth-child(3),
  &:nth-child(4){
    color: var(--colororange);
    font-size: 14px;
    line-height: 1.7;
    font-weight: 300;
  }
    }}

    .contact_mail {
      margin-top: 80px;
      display: flex;
      flex-direction: row-reverse;
      .mail_btn {
        display: inline-block;
        padding:23px 60px ;
        border: 1px solid var(--colorKey);
        border-radius: 999px;
        background-color: var(--maincolor);
        color: var(--colorKey);
        font-weight: 300;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover {
          background-color: var(--colorKey);
          color: var(--maincolor);
        }
      }
    }

    .contact_sns {
      flex: 1 1 30%;
      .sns {
        display: flex;
        gap: 36px;
        justify-content: flex-end;
        align-items: flex-end;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-color: var(--colorKey);
          color: var(--maincolor);
          font-weight: 300;
          font-size: 12px;
          transition: opacity 0.3s ease;
          text-decoration: none;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
//コンタクト SP版
@include media($sp) {
  .contact_inner .contact_item {
    flex-direction: column;
    align-items: center;
margin-top: 40px;
    .contact_main {
      width: 100%;
      margin-top: 0px;
      .contact_text {
        width:313px;
         p {
        &:nth-child(1),
        &:nth-child(2) {
          font-size: 14px;
          margin: 0;
        }
        &:nth-child(3),
        &:nth-child(4) {
          font-size: 10px;
        margin: 0;
        }
      }
      }

      .contact_mail {
        margin-top: 40px;       // 上余白
        display: flex;
        justify-content: center;

        .mail_btn {
          padding: 23px 60px;
          border-radius: 999px;
          border: 1px solid var(--colorKey);
          background-color: var(--maincolor);
          color: var(--colorKey);
          text-decoration: none;
          font-weight: 300;
          font-size: 14px;
          transition: all 0.3s ease;

          &:hover {
            background-color: var(--colorKey);
            color: var(--maincolor);
          }
        }
      }
    }

    .contact_sns {
      width: 100%;
      display: flex;
      justify-content: center;

      .sns {
        gap: 36px;

        a {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-color: var(--colorKey);
          color: var(--maincolor);
          font-size: 12px;
          font-weight: 300;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          transition: opacity 0.3s ease;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

// アバウトページ　サブタイトル
// 経歴
.title_flat_sub01{
  font-size: 40px;
  font-weight: 300;
  color: var(--colorKey);
  }
// 強み
.title_flat_sub02{
  font-size: 40px;
  font-weight: 300;
  color: var(--colorKey);
}