@use '../../foundation/settings/variable' as *;
@use '../../foundation/settings/mixin' as *;
// サイトトップページ（ペラ1枚）
.website_view_create02{
    width: 100%;
    max-width: 900px;
    margin: 240px auto 0;
    justify-content: center;
    padding: 280px 150px;
    background:var(--colorlightgreen);
    display: flex;
    flex-direction: column;
    img{
        display: inline-block;
    }
    @include media($sp){
        margin-top: 100px;
        padding: 40px 53px;
    }
    }

// 制作時資料横並び
.production_image_item{
  display: flex;
  justify-content: center;
  gap: 20px;
  img {
    width: 400px;
    max-width: 100%;
    height: auto;}
    @include media($sp){
        flex-direction: column;
        gap: 40px;
        img{
            width: 100%;
        }
    }
  
}
