@use '../../foundation/settings/variable' as *;
@use '../../foundation/settings/mixin' as *;

// フィルター（PC）
.works__filter {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 91px;
  .filter-btn {
     width: 200px;
    height: 60px;
    text-align: center;
    font-size: 16px;
    font-family: var(--font);
    border: 1px solid var(--colorKey);
    font-weight: 400;
    letter-spacing: 0.1em;
    transition: 0.3s;
    &:hover {
      background: var(--colorKey);
      color: var(--maincolor);
    }

    &.active {
      background: var(--colorKey);
      color: var(--maincolor);
    }
  }
}

// フィルター（SP）
@include media($sp) {
  .works__filter {
    flex-direction: column;
    align-items: center;
    gap: 12px;

    .filter-btn {
      width: 160px;
      padding: 10px 0;
      font-size: 10px;
      text-align: center;
    }
  }
}

// 実績
.works_view_inner {
  display: grid;
  grid-template-columns: repeat(2, 440px); // 2列
  justify-content: center;
  column-gap: 20px;
  margin-top: 91px;

  .works_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 80px;
    .works_content{
      p{
        color: var(--colorKey);
        font-size: 12px;
      }
      h3{
        margin-top: 20px;
      }
      span{
        display: inline-block;
        margin-top: 20px;
        font-size: 12px;
        font-weight: 300;
      }
    }
  }

  .works_item:nth-child(3) {
    grid-column: 1 / 2; 
  }
}


// --- SP版（全部縦積み） ---
@include media($sp) {

  .works_inner {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    .works_item {
      width: 100%;
      max-width: 313px; 
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 20px;

      a img {
        width: 100%;
        height: auto;
        display: block;
      }
      .view_more_button { display: none; }
    }
  }

  .works_view_inner {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    .works_item {
      width: 100%;
      max-width: 313px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 80px;

      a img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}



.works_item {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.works_item.is-hidden {
  display: none;
}

// 画像サイズ調整
.works_view_inner .works_item a {
  width: 440px;
  height: 290px;
  overflow: hidden;
  display: block;
}

.works_view_inner .works_item a img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  display: block;
}
