@use '../../foundation/settings/variable' as *;
@use '../../foundation/settings/mixin' as *;
// Works全体用コンテナ
.works_content{
.works_top{
    margin-top: 40px;

    h1{
        font-size: 16px;
        margin: 0;
        padding-top: 40px;
        @include media($sp){
            margin-top: 100px;
        }
    }
    .works_top_img{
        margin-top: 80px;
        text-align: center;
        @include media($sp){
            margin-top: 40px;
        }
    }
    .works_top_text{
        display: block;
        margin-top: 80px;
        font-size: 16px;
        text-align: left;
        line-height: 2.0;
        @include media($sp){
            margin-top: 40px;
            font-size: 14px;
              line-height: 1.7;
          }
        }
    }
  }
//   サイトボタン
  .view_site_button{
    margin-top: 80px;
    text-align: center;

  a {
    display: inline-block;
    padding: 24px 66px;
    color: var(--colorKey);
    border: 1px solid var(--colorKey);
    border-radius: 9999px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 350;
    transition: background 0.3s ease, color 0.3s ease;

    &:hover {
      background: var(--colorKey);
      color: var(--maincolor);
    }
    }
    // SP用
  @include media($sp) {
    text-align: center; 
    margin-top: 40px;
    a {
      display: inline-block;
      width: 80%; 
      max-width: 190px;
      padding: 24px 0;
      font-size: 12px;
      text-align: center;
    }
   }
  }

//  モックアップ
  .works_img{
    margin-top: 80px;
    text-align: center;
    @include media($sp){
        margin-top: 40px;
    }
  }


// サイト情報
.works_info {
  margin-top: 80px;
  width: 100%;
  dl {
    display: grid;
    grid-template-columns: 230px 1fr;
    border-top: 1px solid var(--colorKey);

    dt,
    dd {
      border-bottom: 1px solid var(--colorKey);
      padding: 40px 0;
    }

    dt {
      text-align: left;
      font-weight: 300;
      color: var(--colorKey);
    }

    dd {
      text-align: left;
      span.task {
        display: inline-block;
        width: 120px;
        font-weight: 300;
      }
      span.period {
        display: inline-block;
        width: 80px;
      }

      a {
        color: var(--colorKey);
        text-decoration: underline;
      }
    }
    // フォント調整
.production {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.7em;
}
    // 制作期間の項目
    dd.production {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      padding-bottom: 0; 
    }
    .production_item {
      display: flex;
      gap: 20px;
      .task {
        width: 200px;
        font-weight: 350;
      }
      .period {
        width: 80px;
      }
    }

    // 制作期間全体の下線
    dd.production::after {
      content: '';
      display: block;
      margin-top: 40px;
    }
  }

  .production_image {
    border-bottom: 1px solid var(--colorKey);
    padding: 40px 0;
    margin: 0;

    img {
      max-width: 100%;
      height: auto;
    }

    figcaption {
      margin-top: 40px;
      text-align: center;
    }
  }
}
// スマホ版
@include media($sp) {
  .works_info {
    margin-top: 40px;
    dl {
      display: flex;
      flex-direction: column;
      dt {
        font-size: 12px;
        margin-top: 40px;
        border-bottom: none; // 線はddで出す
        padding: 0;
      }

      dd {
        font-size: 12px;
        line-height: 1.7;
        margin-top: 10px;
        padding: 0;
        padding-bottom: 40px;
        border-bottom: 1px solid var(--colorKey); // 項目全体の下線

        span.task,
        span.period {
          display: block;
          width: 100%;
          margin-bottom: 4px;
        }

        a {
          color: var(--colorKey);
          text-decoration: underline;
        }

        &.production {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .production_item {
            display: flex;
            gap: 114px;
            .task,
            .period {
              width: 100%;
            }
          }

          &::after {
            content: '';
            display: block;
            margin-top: 20px;
          }
        }
      }
    }

    .production_image {
      padding: 40px 0;
      border-bottom: 1px solid var(--colorKey);

      img {
        max-width: 100%;
        height: auto;
      }

      figcaption {
        margin-top: 20px;
        text-align: center;
      }
      
  }
}

// 画像拡大
.zoom_overlay {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.8);
  display:flex;
  justify-content:center;
  align-items:center;
  overflow-x:auto;
  z-index:9999;
}

.zoom_slider {
  display:flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.zoom_slide img {
  max-width: 90vw;
  max-height: 90vh;
  display:block;
  margin:0 auto;
}

.zoom_close {
  position: fixed;
  top: 40px;
  right: 40px;
  font-size: 40px;
  font-weight: 300;
  color: var(--maincolor);
  cursor: pointer;
  z-index: 10000;
}
}
// サイト制作時のポイント
.works_point {
  margin-top: 80px;

  @include media($sp) {
    margin-top: 40px;
  }

  .works_point_inner {
    display: flex;
    flex-direction: column;
    gap: 160px;
    max-width: 1120px;
    margin: 0 auto;

    @include media($sp) {
      gap: 80px;
    }

    .works_point_item {
      flex: 1;
      display: flex;
      justify-content: center;
      gap: 160px;
      align-items: center;
      text-align: left;
      border: 1px solid var(--colororange);
      padding: 40px 56px;
      box-shadow: 3px 3px 0px var(--colororange);
      border-radius: 50px;
      font-family: "Noto Sans JP", sans-serif;
      letter-spacing: 0.05em;
      line-height: 1.7em;
       @include media($sp) {
        flex-direction: column;
        gap: 40px;
        padding: 20px 30px;
      }
      .works_point_title {
        width: 200px;
        height: 200px;
        display: flex;
        aspect-ratio: 1;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 700;
        color: var(--maincolor);
        background-color: var(--colororange);
        border-radius: 50%;
        margin-bottom: 20px;

        @include media($sp) {
          width: 100px;
          height: 100px;
          font-size: 14px;
          margin-bottom: 0;
        }
      }

      .works_point_text {
        display: flex;
        flex-direction: column;
        width: 400px;

        img {
          width: 100%;
          max-width: 400px;
          height: auto;

          @include media($sp) {
            max-width: 100%;
            height: auto;
          }
        }

        p {
          font-size: 16px;
          line-height: 1.7;
          margin-top: 20px;

          @include media($sp) {
            font-size: 14px;
          }
        }

        @include media($sp) {
          width: 100%;
        }
      }

      @include media($sp) {
        flex-direction: column;
        align-items: center;
        text-align: left;
        gap: 40px;
      }
    }
  }
  }
