@use '../../foundation/settings/variable' as *;
@use '../../foundation/settings/mixin' as *;
.mock_view{
    margin-top: 240px;
    .mock_view_item{
    gap: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    figcaption{
        font-size: 12px;
        margin-top: -40px;
        text-align:center;
    }
    }
    @include media($sp){
        margin-top: 100px;
        gap: 40px;
        .mock_view_item figcaption{
            font-size: 12px;
            line-height: 1.7;
            text-align: left;
            margin-top: 0;
        }
    }
}