@use '../../foundation/settings/variable' as *;
@use '../../foundation/settings/mixin' as *;
// サイトトップページ（ペラ1枚）
.website_view_kuri{
    width: 100%;
    max-width: 900px;
    margin: 240px auto 0;
    justify-content: center;
    padding: 280px 150px;
    background-color:#ECF6CF;
    display: flex;
    flex-direction: column;
    img{
        display: inline-block;
    }
    @include media($sp){
        margin-top: 100px;
        padding: 40px 53px;
    }
    }

.website_label{
    margin-top: 40px;
    @include media($sp){
        line-height: 1.7;
        font-size: 10px;
        text-align: left;
    }
}

