.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  z-index: 1000;
}

header.container {
  padding-left: 0;
}

// ナビPC
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // ロゴ
  .logo {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: var(--maincolor);
    background: var(--colorBlack);
    padding: 7px 16px;
    text-align: center;
  }

  // ナビPC
  ul {
    display: flex;
    gap: 76px;
    margin: 0;
    padding: 0;

    li:last-child {
      margin-right: 86px;
    }

    li.only-sp {
      display: none;
    }

    a {
      font-weight: 300;
    }
  }

  .hamburger {
    display: none;
  }
}
