@use '../foundation/settings/variable' as *;
@use '../foundation/settings/mixin' as *;
/* ローディング画面 */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--maincolor);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-container {
  width: 100%;
  max-width: none;
  position: relative;
}

.loading-bar {
  width: 100%;
  height: 2px;
  background-color: var(--maincolor);
  border-radius: 0;
  overflow: hidden;
}

.loading-bar-inner {
  height: 100%;
  width: 0;
  background-color: var(--colorBlack);
  transition: width 0.1s linear;
}

.loading-text {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  color: var(--colorBlack);
}

/* フェードアウト用 */
#loading.fadeout {
  opacity: 0;
  transition: opacity 0.8s ease;
  pointer-events: none;
}