@use'./settings/index' as *;
@use '././foundation/settings/variable' as *;
@use '././foundation/settings/mixin' as *;

// サイト全体の基本設定
body {
  background-color: var(--maincolor);
  color: var(--colorBlack);
  font-size: 14px;
  font-family: var(--font);
  line-height: 1;
}
a {
  transition: opacity var(--speed);

  @include hover {
    opacity: .7;
  }
}
// 画像全て適用　はみ出さないようにしてすき間できるバグ対策
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
// コンテンツ幅
.container {
  width: 100%;
  margin-top:240px;
  padding: 0 40px;
@include media($sp){
  margin-top: 100px;
}
}

.container_bio {
  width: 100%;
  margin-top:80px;
  padding: 0 40px;
}

.container_works{
  width: 100%;
  max-width: 900px;   
  margin: 0 auto;
  margin-top:240px;
  padding: 0 40px;
  text-align: center;
  @include media($sp){
    margin-top: 100px;
  }
}
.container_inner{
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
}
// フェードイン
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

//カーソルを丸に
@media (min-width: 769px) { 
  body,a,button{
    cursor: none;
  }

  .cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: rgba(128,128,128,0.3);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: width 0.3s ease, height 0.3s ease, background-color 0.1s ease;
  }

  .cursor.active {
    width: 50px;
    height: 50px;
    background-color: rgba(94,121,57,0.3);
  }
}
